/* これは新サービスには適応しない */
header {
    text-align: center;
}
body {
    user-select: none;
    color: white;
    background-color: black;
}
/* ここまで */

.main_container {
    /* display: none; */
    box-shadow: 0 0 30px gray;
    color: black;
    height: 600px;
    margin: 0 auto;
    background-image: url("https://one-piece.com/assets/img/toppage/PFA_20th.jpg");
    background-size: cover;
    width: 75%;
    text-align: center;
    border-radius: 15px;
}
.contents {
    position: relative;
    height: 100%;
    background: rgba(255, 255, 255, 0.4);
    border-radius: 15px;
}
/* 閉じるボタン */
.close {
    color: white;
    font-size: 40px;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 103%;
    top: -3%;
    opacity: 0.5;
    transition: 0.5s;
    transform-origin: 50% 50% 0;
}
.close:hover {
    /* transform:translate(-50%,-50%); */
    cursor: pointer;
    transform: translate(-50%, -50%) rotateZ(90deg);
    font-size: 50px;
    opacity: 1;
}
.main_image {
    width: 75%;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}
/* エンディングのときのロゴの位置をずらす */
.endding_image {
    top: 53%;
    height: 53%;
    width: 82%;
}
/* カラフルボタン */
.btn {
    font-family: "Times New Roman";
    box-shadow: 0 0 10px #e5ff00;
    background: linear-gradient(-225deg, #00d3cf 0%, #6257ff 56%, #ff1f3d 100%);
    background: white;
    color: #c28c04;
    border: 3px solid #c28c04;
    padding: 15px 60px;
    left: 50%;
    top: 70%;
    transform: translate(-50%, -50%);
    border-radius: 15px;
    font-weight: 900;
    font-size: 30px;
    cursor: pointer;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.btn.slide-bg {
    position: absolute;
    overflow: hidden;
    z-index: 1;
}

.btn.slide-bg::before {
    content: "";
    display: inline-block;
    width: 100%;
    height: 100%;
    background: linear-gradient(-225deg, #00d3cf 0%, #6257ff 56%, #ff1f3d 100%);
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    -webkit-transition: -webkit-transform 0.3s;
    transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
    transition: transform 0.3s, -webkit-transform 0.3s;
    z-index: -1;
}

.btn.slide-bg:hover {
    text-shadow: 0 0 5px white;
    color: #f1c500;
}

.btn.slide-bg:hover::before {
    -webkit-transform: none;
    transform: none;
}
/* ここまでカラフルボタン */

/* ここからcount要素のスタイルを整える */
#count {
    width: 100%;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 800;
    font-size: 100px;
    text-transform: uppercase;
    font-family: verdana;
    color: #e9ec0f;
    text-shadow: 1px 1px 1px #ceca00, 1px 2px 1px #ceca00, 1px 3px 1px #ceca00,
        1px 4px 1px #ceca00, 1px 5px 1px #ceca00, 1px 6px 1px #ceca00,
        1px 7px 1px #ceca00, 1px 8px 1px #ceca00, 1px 9px 1px #ceca00,
        1px 10px 1px #ceca00, 1px 18px 6px rgba(16, 16, 16, 0.4),
        1px 22px 10px rgba(16, 16, 16, 0.2), 1px 25px 35px rgba(16, 16, 16, 0.2),
        1px 30px 60px rgba(16, 16, 16, 0.4), 0 0 5px white;
}
/* ここまでcount要素 */

/* timer要素 */
#timer {
    display: flex;
    position: absolute;
    color: white;
    text-shadow: 0 5px 5px black;
    font-weight: bold;
    top: 5%;
    left: 93%;
    transform: translate(-50%, -50%);
    font-size: 40px;
    font-family: DJB Get Digital;
}
/* ここまで */

/* 連続タイピング continuous要素 */
#continuous {
    display: none;
    top: 5%;
    left: 2%;
    transform: translate(-50%, -50%);
    font-size: 30px;
    position: absolute;
    color: rgb(246, 255, 163);
    text-shadow: 0px 0px 10px #000000;
}
/* ここまで */

/* fontawesome要素 */
.fa-stopwatch {
    transform: translateX(-30%);
}
/* ここまで */

/* display要素 */
.display {
    overflow: hidden;
    display: none;
    box-shadow: 0 0 30px rgb(71, 71, 71);
    border: 5px solid white;
    position: relative;
    top: 10%;
    width: 80%;
    margin: 0 auto;
    height: 200px;
    border-radius: 15px;
    background-color: rgb(0, 0, 0, 0.8);
}
/* ここまで */

/* japanese要素 word要素*/
#japanese {
    /* font-family: はんなり明朝; */
    font-family: "Sawarabi Mincho", serif;
    color: white;
    font-weight: 100;
    letter-spacing: 2px;
    position: absolute;
    width: 100%;
    left: 50%;
    top: 30%;
    font-size: 30px;
    transform: translate(-50%, -50%);
    text-shadow: 2px 2px 2px rgb(0, 0, 0);
}
#word {
    /* font-family: 'Allura', cursive; */
    font-family: "Courgette", cursive;
    /* font-family: 'Pinyon Script', cursive; */
    color: white;
    position: absolute;
    left: 50%;
    top: 65%;
    letter-spacing: 3px;
    font-size: 25px;
    transform: translate(-50%, -50%);
    text-shadow: 2px 2px 2px rgb(0, 0, 0);
}
/* ここまで */

/* my_image要素 名言の場面の写真*/
#my_image {
    box-shadow: 0 0 15px gray;
    height: 350px;
    width: auto;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    border-radius: 15px;
    bottom: 2%;
}

/* end_image要素 to be continued */
.end_image {
    display: none;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* スコア全体 */
.scores {
    display: none;
}

/* スコア表示の型 score_image要素 */
.score_image {
    box-shadow: 0 0 20px gray;
    position: absolute;
    transform: translate(-50%, -50%);
    height: 90%;
    top: 50%;
    left: 50%;
}
/* 手配書の顔を乗せる黒い部分 */
.black_zone,
.black_zone_right {
    height: 230px;
    width: 305px;
    background-color: black;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 43%;
    left: 20%;
    overflow: hidden;
}
.black_zone_right {
    left: 80%;
}
.right_picture,
.left_picture {
    height: 230px;
}
/* 手配書の写真 */
.character_image,
.character_image_right {
    height: 230px;
}
/* 右の要素か左の要素か */
.left {
    left: 20%;
}
.right {
    left: 80%;
}

/* 実際のスコア表示 score,WPM,percent,lank */
.score {
    box-shadow: 0 0 20px gray;
    text-shadow: 0 0 5px white;
    font-family: "Times New Roman";
    color: rgb(67, 51, 38);
    font-weight: bold;
    position: absolute;
    transform: translate(-50%, -50%);
    font-size: 30px;
    text-align: center;
}
.WPM {
    top: 76%;
    letter-spacing: 5px;
    padding: 4px 8px;
    border: 1px solid rgb(67, 51, 38);
    transform: scale(1, 2) translate(-50%, -50%);
    left: 20%;
}
.percent {
    line-height: 42px;
    border: 1px solid rgb(67, 51, 38);
    width: 240px;
    top: 81%;
    transform: scale(1, 2) translate(-50%, -50%);
    left: 80.5%;
}

/* 中央のスコア */
.score_middle{
    height: 300px;
    width: 300px;
    display: flex;
    justify-content: space-between;
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 20%;
}
.score_middle_image_left{
    transform: rotate(-22.5deg);
    transform-origin: right bottom;
}
.score_middle_image_right{
    /* height: 310px; */
    margin-bottom: 7px;
    transform: rotate(22.5deg);
    transform-origin: left bottom;
}
.score_tile{
    display: block;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 15%;
    height: 200px;
    width: 400px;
    left: 50%;
}
.tile_message_div{
    position: absolute;
    left: 50%;
    top: 4%;
    transform: translate(-50%,-50%);
    z-index: 10;
    display: flex;
    justify-content: center;
    width: 200px;
    color:white;
    font-style:italic;
    font-weight: bold;
}
.tile_message{
    letter-spacing: 3px;
    transform: rotateZ(4deg);
}
.score_lank_div{
    color:white;
    left: 50%;
    top:50%;
    transform: translate(-50%,-50%);
    position: absolute;
    z-index: 10;
}
.score_people_image_div{
    position: absolute;
    transform: translate(-50%,-50%);
    top: 20%;
    left:50%;
    border-radius: 50%;
    overflow: hidden;
    height: 300px;
    width: 300px;
}
.score_people_image{
    height: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.score_lank_image{
    transform: translateY(-12%);
    height: 200px;
    width: 500px;
}
.score_lank{
    z-index: 15;
    top: 44%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    color:white;
    font-size:30px;
    letter-spacing: 3px;
    font-weight: bold;
    font-style: italic;
}

/* アニメーションゾーン */
/* フェードインアニメーション */
.fade {
    animation: fadeIn 1s ease 1 normal;
}
/* 大きくなるアニメーション */
.bigger {
    animation: bigger 1s ease 1 normal;
}
/* 横に広がるアニメーション */
.wide {
    animation: wide 1s ease 1 normal;
}
.wide_2 {
    animation: wide_2 1s ease 1 normal;
}
.wide_2_over {
    animation: wide_2_over 1s ease 1 normal;
}

@keyframes fadeIn {
    /*animetion-nameで設定した値を書く*/

    0% {
        opacity: 0;
    } /*アニメーション開始時は不透明度0%*/

    100% {
        opacity: 1;
    } /*アニメーション終了時は不透明度100%*/
}
@keyframes bigger {
    0% {
        opacity: 0.5;
        width: 0%;
        height: 0%;
        line-height: 100%;
    }
    /* 50%{
        height: 150%;
        width: 150%;
        opacity: 1;
    } */
    100% {
        height: 150%;
        width: 150%;
        opacity: 1;
    }
}
@keyframes wide {
    0% {
        opacity: 0;
        transform: translate(-100%, -50%);
    }
    80% {
        transform: translate(-48%, -50%);
    }
    100% {
        opacity: 1;
        width: 100%;
    }
}
@keyframes wide_2 {
    0% {
        opacity: 0;
        transform: translateX(-100%);
    }
    100% {
        opacity: 1;
        transform: translateX(0%);
    }
}
@keyframes wide_2_over {
    0% {
        opacity: 1;
        transform: translateX(0%);
    }
    100% {
        opacity: 0;
        transform: translateX(100%);
    }
}

/* ここまでアニメーション */
